<h1>Completed Tasks</h1>

<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
	<tr>
	  <% for task in @tasks %>
		<div class='task'>
			<strong> <%= task.name %> </strong>
		</div>
		<%= link_to 'Edit', edit_task_path(task) %>
	  <% end %>
	 </tr>		 
  </tbody>
</table>
