<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
	<% @task_months.each do |month, tasks| %>
	  <%= month.strftime('%B') %>
	<tr>
	  <% for task in tasks %>
		<div class='task'>
			<strong> task.name </strong>
			<%= task.due_date.to_s(:due_time) %>
		</div>
	  <% end %>
	 </tr>		 
	<% end %>	  
  </tbody>
</table>

<br>